* {
  margin: 0;
  padding: 0; }

body {
  background: #ffffff;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5; }

header {
  background: #800080;
  color: #ffffff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center; }

nav {
  padding: 0.5rem; }

nav ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center; }

nav ul li a {
  padding: 0.5rem;
  color: inherit; }
  nav ul li a:hover {
    cursor: pointer;
    background-color: #ff7f55;
    color: #000000; }

main {
  background: #ce00ce;
  color: #ffffff;
  padding: 1rem; }
  main h1 {
    text-align: center; }

.section {
  padding: 3rem; }
  .section h2 {
    font-size: 2rem; }
  .section-a, .section-c {
    background: #4682b4;
    color: #ffffff; }
  .section-b {
    background: #87ceeb;
    color: #000000; }

.button-light, .button-dark {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.7rem 2rem;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: transform 500ms ease-in-out 0ms; }
  .button-light:hover, .button-dark:hover {
    --webkit-transform: $property;
    -ms-transform: scale(1.2);
    transform: scale(1.2); }

.button-light {
  background: #f4f4f4;
  color: #000000; }
  .button-light:hover {
    background: #ff02ff; }

.button-dark {
  background: #333333;
  color: #ffffff; }
  .button-dark:hover {
    background: #9b009b; }

@media screen and (min-width: 600px) {
  nav,
  nav ul li a {
    padding: 1rem; } }

@media screen and (min-width: 1000px) {
  body {
    max-width: 1000px;
    margin: 0 auto; }
  header,
  main,
  section {
    padding-left: 3rem;
    padding-right: 3rem; } }
